.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  .audioPlayer {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 35vw;
    height: auto;

    @media screen and (max-width: 800px) {
      width: 90vw;
    }
    // @media (orientation: landscape) {
    //   min-height: 500px;
    //   max-width: 60vw;
    // }
    // display: flex;
    // justify-content: center;
    // align-items: center;
    .audioPlayerBox {
      padding: 10px 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      background-color: rgba(0, 88, 65, 1);
      border-radius: 25px;
      .close {
        position: absolute;
        top: 0;
        right: 5%;
        font-size: 70px;
        cursor: pointer;
      }
      .title {
        color: wheat;
        display: flex;
        flex-direction: column;
        text-align: center;
        line-height: 1.1;
        padding-bottom: 1.5em;
        span:first-child {
          font-size: 2.5em;
          // height: 10%;
          max-width: max(35vw, 80%);
          margin: 0 auto;
          white-space: nowrap; /* Запрещаем перенос текста */
          overflow: hidden; /* Скрываем текст, который выходит за пределы элемента */
          text-overflow: ellipsis; /* Отображаем многоточие для текста, который выходит за пределы элемента */
          // border: 1px solid black;
        }
        span:last-child {
          font-size: 1.5em;
        }
      }

      .img {
        max-width: 200px;
        height: auto;
        border-radius: 20px;
      }

      .line {
        width: 80%;
        margin: 0 auto;
      }
      .time {
        color: wheat;

        display: flex;
        justify-content: space-between;
      }
      .buttonAndValue {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        .containerPlayList {
          // position: relative;
          .playList {
            position: absolute;
            top: -83px;
            left: -65px;
            background-color: rgba(0, 0, 0, 0.75);
            color: white;
            border-radius: 5px;
            ul {
              padding: 5px;
              margin: 0;
              list-style-type: none;
            }
          }
        }
        .boxButton {
          &:focus {
            outline: none;
          }
        }
        .buttonOther {
          position: absolute;
          top: 50%;
          right: 7%;
          transform: translateY(-50%);
          background-color: rgba(0, 0, 0, 0.75);
          border-radius: 25px;
        }
        .buttonPlay3 {
          color: #5fc135;
          font-size: 35px;
          border-radius: 50%;
          padding: 2px;
          &:hover {
            color: #e6ffdc;
          }
        }
        .buttonActive {
          color: rgb(2, 255, 145);
          border: 1px solid rgb(2, 255, 145);
          // background-color: rgba(0, 0, 0, 0.4);
        }
      }
      .button {
        width: 80%;
        text-align: center;

        .buttonPlay {
          color: #7dff45;
          font-size: 50px;
          &:focus {
            outline: none;
          }
        }
        .buttonPlay2 {
          color: #7dff45;
          font-size: 70px;
        }
      }
    }
  }
}
